<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
<h1>Thymeleaf:spring boot 自带的前端模板</h1>
<img th:src="@{images/ChMkJ1bKyYmIK5-0AAJ02LBn_QQAALIPQAFNDUAAnTw667.jpg}"  alt="aaaa">



    <!--<h1>标签常用方法</h1>-->
    <!--<h3>赋值+字符串拼接</h3>-->
    <!--<p th:text="${car.name}">车名:</p>-->
    <!--<span th:text="'车的传奇:'+${car.name}+'!'"></span>-->


    <!--<h5> 字符串拼接简洁的写法</h5>-->
    <!--<span th:text="|车的传奇:${car.name}|"></span>-->


    <!--<h3>条件判断 if/unless</h3>-->
    <!--<span th:if="${car.price==100}">8989恰好</span>-->
    <!--<span th:unless="${car.price==1000}">8989太贵</span>-->



    <h4>for 循环</h4>
    <table class="table table-striped table-hover">
        <tr>
            <th>No</th>
            <th>车名</th>
            <th>价格</th>
            <th>生产日期</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.id}" >序号</td>
            <td th:text="${car.name}" >车名</td>
            <td th:text="${car.price}" >价格</td>
            <td th:text="${#dates.format(car.createDate,'yyyy-MM-dd')}" >车名</td>
        </tr>
    </table>
</div>
</body>
</html>